/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;

    h3{
        line-height: 1;
        margin: 0;
    }

    .modal-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--spacing-1) var(--spacing-4) 0;

        .close-modal {
            font-size: 24px;
            cursor: pointer;
            height: 32px;
            width: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .avatar {
        margin: 0 auto;
        max-width: 50%;
        border-radius: 50%;
    }

    .checkbox{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .align-left{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }

    .modal-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--soft-background);
        padding: var(--spacing-4) var(--spacing-6);
    }
    

}