---
import MainSite from "../layouts/MainSite.astro";
import "../styles/signup.scss";
import UserLinksViewer from "../components/particles/UserLinksViewer.astro";
import { getRandomInt } from "../utils/math";
import { USER_CATEGORIES } from "../constants/user";
import Pill from "../components/atoms/Pill.astro";
import EventList from "../components/particles/EventList.astro";
import starters from "../../public/events.json";

function getCategories() {
  // Shuffle array
  const shuffled = [...USER_CATEGORIES].sort(() => 0.5 - Math.random());
  // Get sub-array of first n elements after shuffled
  const selected = shuffled.slice(0, getRandomInt(0, USER_CATEGORIES.length));
  return selected;
}

const mockLinks = [
  {
    name: "Instagram",
    url: "https://instagram.com/elmiauro",
  },
  {
    name: "Bandcamp",
    url: "https://elmiauro.bandcamp.com",
  },
  {
    name: "YouTube",
    url: "https://youtu.be/urqite",
  },
  {
    name: "OnlyFans",
    url: "https://www.onlyfans.com/weeeee",
  },
];
---

<MainSite>
  <div class="container is-primary-background">
    <h1 class="is-size-2 has-text-weight-semibold">ElMiauro</h1>
    <div class="columns">
      <div class="column signup-image-container px-4">
        <img src="/22890128.png" alt="" class="avatar" />
      </div>

      <div class="form-container columns">
        <div
          class="column is-half is-flex is-flex-direction-column is-flex-row-gap-2 px-4"
        >
          <label for="name">Nombre Completo</label>
          <h2>Ibogvden Ehraimheimmer</h2>

          <label for="name">Edad</label>
          <h2>108</h2>

          <label for="genero">Genero</label>
          <h2>Prefiero no decir</h2>

          <label for="categories">Categorias</label>

          <div class="is-flex is-flex-wrap-wrap is-flex-gap-2 mt-2">
            {
              getCategories().map((category) => {
                return <Pill label={category.label} color="lime" />;
              })
            }
          </div>
        </div>
        <div class="column is-half">
          <label>Links</label>
          <UserLinksViewer links={mockLinks} />
        </div>
      </div>
    </div>

    <div>
      <h4 class="is-size-4 has-text-weight-semibold">
        Ultimos Eventos donde participo
      </h4>
      <EventList events={starters} />
    </div>
  </div>
</MainSite>