---
import MainSite from "../layouts/MainSite.astro";
import "../styles/signup.scss";
import UserLinks from "../components/particles/UserLinksEditor.astro";
import { USER_CATEGORIES, USER_GENDER } from "../constants/user";
import ImageUploading from "../components/particles/ImageUploading.astro";
---

<MainSite>
  <div class="container is-primary-background">
    <h1 class="is-size-3 has-text-weight-semibold">Completa tu perfil</h1>
    <form action="" id="user-data">
      <div class="columns">
        <div class="column signup-image-container">
          <ImageUploading />
        </div>

        <div class="form-container columns">
          <div class="column">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input
                type="text"
                placeholder="Tu nombre"
                name="name"
                required
                value="Miau"
              />

              <label for="name">Edad</label>
              <input
                type="number"
                placeholder="Tu edad"
                name="age"
                required
                min="18"
                value="18"
              />

              <label for="genero">Genero</label>
              <select name="gender">
                {
                  USER_GENDER.map((gender, idx) => {
                    return (
                      <option value={gender.key} selected={idx === 0}>
                        {gender.label}
                      </option>
                    );
                  })
                }
              </select>

              <label for="categories">Categorias</label>
              <small>Elegí las que más representan tu perfi:</small>
              <div class="categories-container" id="categories-container">
                {
                  USER_CATEGORIES.map((category) => {
                    return (
                      <label class="checkbox">
                        <input type="checkbox" name={category.key} />
                        {category.label}
                      </label>
                    );
                  })
                }
              </div>
            </div>
          </div>
          <div class="column">
            <UserLinks />
          </div>
        </div>
      </div>
    </form>
    <div class="signup-footer mt-4">
      <span></span>
      <button class="primary-button" id="save-user-data">Guardar</button>
    </div>
  </div>
</MainSite>

<script>
  import { InputValidator, CheckFormValidity } from "../helpers/inputvalidator";
  document.getElementById("save-user-data").addEventListener("click", () => {
    const form = document.querySelector("#user-data") as HTMLFormElement;

    // Validators
    const NameValidator = new InputValidator('[name="name"]', [
      { key: "empty" },
    ]);
    const AgeValidator = new InputValidator('[name="age"]', [
      { key: "empty" },
      { key: "numberHigherThan", params: [18] },
    ]);
    const CategoriesValidator = new InputValidator("#categories-container", [
      {
        key: "oneOptionSelected",
      },
    ]);
    const isFormValid = CheckFormValidity([
      NameValidator,
      AgeValidator,
      CategoriesValidator,
    ]);

    if (isFormValid) {
      // Grab data
      const formData = new FormData(form);
      const { name, age, gender, imgLink } = Object.fromEntries(formData);
      const links = Array.from(document.querySelectorAll("[data-link]")).map(
        (link) => ({
          name: decodeURI(link.getAttribute("data-link")),
          url: decodeURI(link.getAttribute("data-link-src")),
        })
      );

      const categories = Array.from(
        form.querySelectorAll<HTMLInputElement>('[type="checkbox"]')
      )
        .map(({ name, checked }) => checked && name)
        .filter(Boolean);

      console.log({ name, age, gender, avatarUrl: imgLink, links, categories });
    }
  });
</script>
