---
import MainSite from "../layouts/MainSite.astro";
import "../styles/signup.scss";
import UserLinks from "../components/particles/UserLinksEditor.astro";
import { USER_CATEGORIES } from "../constants/user";
---

<MainSite>
  <div class="container is-primary-background">
    <h1 class="is-size-3 has-text-weight-semibold">Completa tu perfil</h1>
    <form action="" id="user-data">
      <div class="columns">
        <div class="column signup-image-container">
          <img src="/img_avatar2.png" alt="" />
          <button class="outline-button">Seleccionar Imagen</button>
        </div>

        <div class="form-container columns">
          <div class="column">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input
                type="text"
                placeholder="Tu nombre"
                name="name"
                required
                value="Miau"
              />

              <label for="name">Edad</label>
              <input
                type="number"
                placeholder="Tu edad"
                name="age"
                required
                min="18"
                value="18"
              />

              <label for="genero">Genero</label>
              <select name="gender">
                <option value="0" selected>Masculino</option>
                <option value="1">Femenino</option>
                <option value="2">No binarie</option>
                <option value="3">Prefiero no decir</option>
              </select>

              <label for="categories">Categorias</label>
              <small>Elegí las que más representan tu perfi:</small>
              <div class="categories-container">
                {
                  USER_CATEGORIES.map((category) => {
                    return (
                      <label class="checkbox">
                        <input type="checkbox" name={category.key} />
                        {category.label}
                      </label>
                    );
                  })
                }
              </div>
            </div>
          </div>
          <div class="column">
            <UserLinks />
          </div>
        </div>
      </div>
    </form>
    <div class="signup-footer mt-4">
      <span></span>
      <button class="primary-button" id="save-user-data"><a href="/welcome">Guardar</a></button>
    </div>
  </div>
</MainSite>

<script>
  import { createValidator } from "../helpers/validators";

  document.getElementById("save-user-data").addEventListener("click", () => {
    const form = document.querySelector("#user-data");
    const nameValidator = createValidator(
      document.querySelector('[name="name"]') as HTMLInputElement,
      ["empty"]
    );

    const ageEl = document.querySelector('[name="name"]') as HTMLInputElement;
    const ageValidator = ageEl.checkValidity();

    // Categories
    const categories = Array.from(
      form.querySelectorAll('[type="checkbox"]')
    ) as HTMLInputElement[];
    categories.map(({ name, checked }) => ({ name, checked }));

    const checkCategories = categories.some(({ checked }) => checked);

    const allChecks = [nameValidator, ageValidator, checkCategories].every(
      (value) => value
    );
    if (allChecks) {
      //Hit server or some shit
    } else {
      ageEl.reportValidity();
    }
  });
</script>
