.primary-button {
    margin: var(--spacing-0);
    font-weight: 400;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    height: 32px;
    padding: var(--spacing-2) var(--spacing-4);
    border-radius: var(--border-radius-sm);
    outline: 0;
    color: var(--secondary-color-text);
    background: var(--primary-color);
    line-height: 1;

    &:hover {
        filter: brightness(1.2);
        color: var(--secondary-color-text);
    }
}

.outline-button{
    margin: var(--spacing-0);
    font-weight: 400;
    border: 1px solid var(--primary-color-text);
    cursor: pointer;
    transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    height: 32px;
    padding: var(--spacing-2) var(--spacing-4);
    border-radius: var(--border-radius-sm);
    outline: 0;
    color: var(--primary-color-text);
    background: transparent;

    &:hover {
        background: var(--secondary-color-text);
    }
}

.facebook-button{
    @extend .primary-button;
    background-color: #3b5998;
}

.google-button{
    @extend .primary-button;
    background-color: #DB4437;

    &:hover {
        filter: brightness(1.1);
    }
}