.pill {
    padding: var(--spacing-1) var(--spacing-2);
    font-size: 12px;
    white-space: nowrap;
    border-radius: var(--border-radius);

    &.magenta {
        color: #c41d7f;
        background: #fff0f6;
        border-color: #ffadd2;
    }

    &.red {
        color: #cf1322;
        background: #fff1f0;
        border-color: #ffa39e;
    }

    &.blue {
        color: #096dd9;
        background: #e6f7ff;
        border-color: #91d5ff;
    }

    &.lime {
        border: 1px solid #d9d9d9;
        color: #7cb305;
        background: #fcffe6;
        border-color: #eaff8f;
    }

    &.volcano {
        color: #d4380d;
        background: #fff2e8;
        border-color: #ffbb96;
    }
}