---
import Navbar from '../components/Navbar.astro'
import 'bulma/css/bulma.min.css';
import 'bulma-list/css/bulma-list.css'
import '../styles/globals.scss'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Que sale?</title>
	</head>
	<body>
        
		<Navbar />        
        <section class="section">
        <slot />
        </section>

        <footer class="footer">
            <div class="content has-text-centered">
              <p>
                <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
              </p>
            </div>
          </footer>
	</body>
</html>