---
import Navbar from '../components/Navbar.astro'
import 'bulma/css/bulma.min.css';
import 'bulma-list/css/bulma-list.css'
import '../styles/globals.scss'
import '../components/atoms/Button.scss'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/animate.css@4.0.0/animate.min.css"
  />
		<title>Que sale?</title>
	</head>
	<body>
        
		<Navbar/>        
        <section class="section">
        <slot />
        </section>

        <footer class="footer">
            <div class="content has-text-centered">
              <p>
                <strong>Hecho con 🩸😓😢</strong> <br /> 
                por <a href="https://maurozurlo.com">El Miauro</a>
              </p>
            </div>
          </footer>
	</body>
</html>

<script>
  import '../init';
  // Import the toast function
  // import {toast} from 'bulma-toast'
  // // Or use
  // // import { toast as superToast } from 'bulma-toast'
  // // to rename your import

  // toast({
  //   message: 'Hello There',
  //   type: 'is-success',
  //   dismissible: true,
  //   closeOnClick: true,
  //   animate: { in: 'fadeIn', out: 'fadeOut' },
  // })
</script>